<div class="emoji-tool">
    <div class="row" style="padding: 0 .75rem">
        <div class="input-field input-field--negative col s12 emoji-tool__search">
            <i class="dp-icons prefix">search</i>
            <input type="text" placeholder="Vyhľadať"
                   data-bind="textInput: search, 
                              event: { 
                                focus: function(m, e) { $(e.target.parentNode).addClass('input-field--active'); }, 
                                blur: function(m, e) { $(e.target.parentNode).removeClass('input-field--active'); }
                              }" />
        </div>
    </div>
    <div class="row" data-bind="optiscroll">
        <!-- ko foreach: filtered-->
        <div class="emoji-tool__item col s3">
            <button class="btn-flat tooltip tooltip--bottom" data-bind="attr: { title: n }, click: $component.insert.bind($component)">
                <svg width="24px" height="24px" viewBox="0 0 24 24">
                    <path data-bind="attr: { d: d }"></path>
                </svg>
            </button>
        </div>
        <!-- /ko -->
    </div>    
</div>