@import "../../../less/_mixins.less";

.toolbar {
    background: @bg-color;
    margin: 0;
    height: 100%;
    box-shadow: inset -1px 0 0 @hr-color;

    > ul {
        margin: 0;

        + ul {
            border-top: 1px solid @hr-color;
        }
    }

    &__item {
        height: 3rem;
        width: 3rem;
        line-height: 3rem;
        padding: 0;
        color: fade(@fg-color, 45%);
        transition: color .3s ease;
        border-radius: 0;

        > i {
            font-size: 1.5rem;
        }

        &:hover {
            color: @primary-color;
        }

        &:focus {
            background: transparent;
        }

        &--active {
            color: @primary-color;
            box-shadow: inset -3px 0 0 @primary-color !important;
        }
    }
}