@import "_mixins.less";

.btn-flat {
    font-family: @font-family;
    font-size: 1rem;
    font-weight: 400;
    color: @primary-color;
    transition: opacity .3s ease;
    opacity: .85;

    &:hover {
        opacity: 1;
    }

    &:focus {
        background: transparent;
    }
}

.btn {
    font-family: @font-family;
    font-size: 1rem;
    font-weight: 400;

    &--primary {
        background: @primary-color;

        &:hover {
            background: @primary-color;
        }
    }
}