@import "_mixins.less";

.app {
    .input-field {
        label {
            color: fade(@complementary-color, 55%);
        }
    
        input[type=text] {
            &:focus {
                border-bottom: 1px solid @primary-color;
                box-shadow: 0 1px 0 0 @primary-color;
    
                + label {
                    color: @primary-color;
                }
            }
        }

        .prefix {
            color: fade(@fg-color, 45%);

            &.active {
                color: @fg-color;
            }
        }

        &--active {
            label {
                color: @primary-color;
            }

            .file-path {
                border-bottom: 1px solid @primary-color;
                box-shadow: 0 1px 0 0 @primary-color;
            }
        }

        &--negative {
            background: fade(@fg-color, 16%);
            border-radius: .25rem;
            
            input[type=text] {
                border-bottom: 0;
                margin-top: .25rem;
                margin-bottom: .25rem;

                &:focus {
                    border-bottom: 0;
                    box-shadow: none;
                }
            }

            .prefix {
                color: @fg-color;
    
                &.active {
                    color: @complementary-color;
                }
            }  
            
            &.input-field--active {
                background: @fg-color;
                box-shadow: 0 1px 1px rgba(0,0,0,.24);

                .prefix {
                    color: @complementary-color;
                }                 
            }
        }
    }
}