<div class="emoji-tool">
    <div class="row" style="padding: 0 .75rem">
        <div class="input-field input-field--negative col s12 emoji-tool__search">
            <i class="dp-icons prefix">search</i>
            <input type="text" placeholder="Vyhľadať"
                   data-bind="textInput: search, 
                              event: { 
                                focus: function(m, e) { $(e.target.parentNode).addClass('input-field--active'); }, 
                                blur: function(m, e) { $(e.target.parentNode).removeClass('input-field--active'); }
                              }" />
        </div>
    </div>
</div>