@import "../../../../less/_mixins.less";

.file-browser-modal {
    overflow: hidden;

    .row {
        margin-bottom: 0;

        .col {
            margin-bottom: 0;
            padding: 0;
        }
    }

    .file-path-wrapper {
        padding: 0;
    }

    &__value {
        height: 0 !important;
        opacity: 0 !important;
        margin: 0 !important;
        padding: 0 !important;
        width: 0 !important;
        position: absolute;
    }
}