@import "../../../less/_mixins.less";

.modal {
    background: @bg-color;
    width: 30%;

    &-footer {
        background: transparent !important;
    }
}

@media only screen and (max-width: 992px) {
    .modal {
        width: 80%;
    }
}