@import "../../../less/_mixins.less";

.new-project {
    max-height: 70vh;

    > .modal-content {
        max-height: calc(70vh - 64px);        
    }

    .optiscroll-v {
        .optiscroll-vtrack {
            right: 0;
            background: rgba(0, 0, 0, 0.3);
        }
    }    

    &__container {
        margin-bottom: 0;
        margin-right: 0;
        margin-left: -0.3125rem;
        min-height: 14rem;
        max-height: 14rem;        
    }

    &__item {
        position: relative;
        cursor: pointer;

        &::before {
            content: "\00a0";
            display: block;
            margin-top: 100%;
        }

        &:hover {
            .new-project__item-content {
                &::after {
                    transform: scale(1);
                    opacity: 1; 
                }
            }
        }

        &--active {
            .new-project__item-content {
                border: 1px solid @primary-color;
                box-shadow: 0 2px 2px 0 fade(#1a73e8, 14%), 0 3px 1px -2px fade(#1a73e8, 12%), 0 1px 5px 0 fade(#1a73e8, 20%);
            }
        }
    }

    &__item-content {
        position: absolute;
        top: 0.3125rem;
        bottom: 0.625rem;
        left: 0.3125rem;
        right: 0.3125rem;
        border: 1px solid transparent;
        
        &::after{
            content: "\00a0";
            background: fade(@complementary-color, 20%);
            position: absolute;
            width: 100%;
            z-index: 1;
            top: 0;
            bottom: 0;
            transform: scale(0);
            opacity: 0;
            transition: all .15s ease;
        }        
    }

    &__item-image {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        background-position: center 0;
        background-size: cover;
        background-repeat: no-repeat;
        z-index: 1;
    }    
}