<div class="new-project">
    <div class="modal-content">
        <h6>Nový projekt</h6>
        <div class="row">
            <div class="input-field col s12">
                <input id="new-project__value" type="text" data-bind="textInput: value" />
                <label for="new-project__value" style="left:0">Názov projektu</label>
            </div>
        </div>          
        <div class="row new-project__container" data-bind="optiscroll">
            <!-- ko foreach: items -->
            <div class="new-project__item tooltip tooltip--bottom col xl3 l4 m6 s12" 
                 data-bind="attr: { title: title }, css: { 'new-project__item--active': $component.activeItem() === $data }, click: $component.select.bind($component)">
                <div class="new-project__item-content">
                    <div class="new-project__item-image" data-bind="style: { 'background-image': $component.thumnailUrl($data) }"></div>                
                </div>
            </div>
            <!-- /ko -->
        </div>        
    </div>
    <div class="modal-footer">
        <button class="btn-flat btn-flat--secondary" data-bind="click: close">Zrušiť</button>
        <button class="btn btn--primary" data-bind="click: create">Vytvoriť projekt</button>        
    </div>    
</div>