@import "../../../../less/_mixins.less";

.cheatsheet-tool {
    width: 100%;
    overflow-y: auto;
    height: 100%;
    position: relative;

    &__search {
        margin: 0.25rem 0 0 0;

        i {
            top: 50% !important;
            transform: translate(0,-50%);
            font-size: 1.5rem !important;
            width: 2rem !important;
        }

        input[type=text] {
            margin-left: 2rem;
            width: calc(100% - 2rem);
            height: 2rem;
        }
    }

    &__item {
        height: auto;
        position: relative;
        font-size: .95em;
        text-align: left;
        color: @fg-color;
        cursor: default;

        > span {
            display: block;
            line-height: 2em;
            text-transform: none;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 0.875rem;
            padding: 0 .25rem;
            .primary-text-shadow;
            .not-selectable;
        }

        > pre {
            margin: 0;
            padding: 0 0.25rem;
            font-family: inherit;
            font-size: 0.875rem;
            color: @fg-color-secondary;
            .secondary-text-shadow;
        }

        &:hover {
            color: @fg-color;
        }        

        & + & {
            margin-top: 1rem;
        }
    }
}