<div class="cheatsheet-tool" data-bind="optiscroll">
    <div class="row" style="padding: 0 .75rem">
        <div class="input-field input-field--negative col s12 cheatsheet-tool__search">
            <i class="dp-icons prefix">search</i>
            <input type="text" placeholder="Vyhľadať"
                   data-bind="textInput: search, 
                              event: { 
                                focus: function(m, e) { $(e.target.parentNode).addClass('input-field--active'); }, 
                                blur: function(m, e) { $(e.target.parentNode).removeClass('input-field--active'); }
                              }" />
        </div>
    </div>
    <div class="row" style="margin-top: -.75rem;" data-bind="foreach: filtered">
        <button class="btn-flat cheatsheet-tool__item col s12">
            <span data-bind="text: title"></span>
        </button>
    </div>
</div>