<div class="app">
    <div class="app__side">
        <toolbar params="tool: tool, 
                         isConnected: isConnected, 
                         hasMeta: meta().length > 0,
                         hasTemplate: template().length > 0,
                         disconnectCallback: disconnect.bind($component), 
                         openCallback: open.bind($component)">
        </toolbar>
        <!-- ko if: tool() -->
        <div class="tool">
            <!-- ko if: tool() === 'drive' -->
            <drive-tool params="isConnected: isConnected, user: user, files: files, disconnectAction: _drive_disconnectAction"></drive-tool>
            <!-- /ko -->
            <!-- ko if: tool() === 'explorer' -->
            <explorer-tool params="editor: editor, 
                                   title: title, 
                                   hasTemplate: template().length > 0, 
                                   nodes: nodes, 
                                   activeNode: activeNode, 
                                   addNodeCallback: addNode.bind($component),
                                   deleteNodeCallback: deleteNode.bind($component)">
            </explorer-tool>
            <!-- /ko -->
            <!-- ko if: tool() === 'settings' -->
            <settings-tool params="meta: meta, promptCallback: prompt.bind($component), confirmCallback: confirm.bind($component)"></settings-tool>
            <!-- /ko -->
        </div>        
        <!-- /ko -->
        <!-- ko if: isConnected() -->
            <user params="user: user"></user>
        <!-- /ko -->        
    </div>
    <div class="app__main">
        <div class="app__actions">
            <!-- ko if: fileName().length -->
            <h1 class="app__fileName" data-bind="text: fileName"></h1>
            <!-- /ko -->
            <!-- ko if: title().length -->
            <h2 class="app__title" data-bind="text: title"></h2>
            <!-- /ko -->            
        </div>
        <div class="app__main">
            <!-- ko if: editor() === 'template' -->
            <template-editor params="content: template"></template-editor>
            <!-- /ko -->            
        </div>
    </div>
    <prompt-modal params="openAction: _prompt_openAction"></prompt-modal>
    <confirm-modal params="openAction: _confirm_openAction"></confirm-modal>
    <file-browser-modal params="openAction: _fileBrowser_openAction"></file-browser-modal>
</div>