@import "../../../less/_mixins.less";

.app {
    background: @bg-color;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;

    &__side {
        display: flex;
        max-width: 20rem;
        min-width: 3rem;
    }

    &__main {
        display: flex;
        flex: 1;
        flex-direction: column;
        position: relative;
    }

    &__actions {
        display: flex;
        height: 3rem;
        align-items: center;

        &--footer {
            height: 2rem;
            font-size: .75rem;
            padding: 0 1rem;
            color: @fg-color-secondary;
            .secondary-text-shadow;            
        }
    }

    &__fileName {
        font-size: 1rem;
        margin: 0 0 0 1rem;
        .primary-text-shadow;
        .not-selectable;

        + .app__title {
            &::before {
                content: "/\00a0\00a0\00a0";
            }
        }
    }

    &__title {
        font-size: 1rem;
        margin: 0 0 0 1rem;
        color: @fg-color-secondary;
        .secondary-text-shadow;
        .not-selectable;
    }
}