<div class="explorer-tool" data-bind="optiscroll">
    <div class="row">
        <div class="col s12" style="margin:0.5rem 0">
            <ul class="collection explorer-tool__tree">
                <!-- ko if: hasTemplate -->
                <li class="collection-item">
                    <button class="btn-flat explorer-tool__item" data-bind="click: editTemplate">
                        <i class="dp-icons left">xml</i>
                        <span>Šablóna</span>
                    </button>
                </li>
                <!-- /ko -->
            </ul>            
            <!-- <ul class="collection explorer-tool__tree">
                <li class="collection-item">
                    <button class="btn-flat explorer-tool__item">
                        <i class="dp-icons left">markdown</i>
                        <span>Doc 1</span>
                    </button>
                </li>
                <li class="collection-item">
                    <button class="btn-flat explorer-tool__item">
                        <i class="dp-icons left">xml</i>
                        <span>Nastavenia</span>
                    </button>
                </li>
                <li>
                    <ul class="collection explorer-tool__tree">
                        <li class="collection-item">
                            <button class="btn-flat explorer-tool__item">
                                <i class="dp-icons left">markdown</i>
                                <span>Doc 1</span>
                            </button>
                        </li>
                        <li class="collection-item">
                            <button class="btn-flat explorer-tool__item">
                                <i class="dp-icons left">markdown</i>
                                <span>Doc 2</span>
                            </button>
                        </li>
                        <li class="collection-item">
                            <button class="btn-flat explorer-tool__item">
                                <i class="dp-icons left">folder</i>
                                <span>Nastavenia</span>
                            </button>
                            <button class="btn-flat explorer-tool__action">
                                <i class="dp-icons">dots_vertical</i>
                            </button>
                        </li>   
                        <li>
                            <ul class="collection explorer-tool__tree">
                                <li class="collection-item">
                                    <button class="btn-flat explorer-tool__item">
                                        <i class="dp-icons left">markdown</i>
                                        <span>Doc 1</span>
                                    </button>
                                </li>
                                <li class="collection-item">
                                    <button class="btn-flat explorer-tool__item">
                                        <i class="dp-icons left">markdown</i>
                                        <span>Doc 2</span>
                                    </button>
                                </li>
                                <li class="collection-item">
                                    <button class="btn-flat explorer-tool__item">
                                        <i class="dp-icons left">folder</i>
                                        <span>Nastavenia</span>
                                    </button>
                                    <button class="btn-flat explorer-tool__action">
                                        <i class="dp-icons">dots_vertical</i>
                                    </button>
                                </li>                
                            </ul> 
                        </li>                                     
                    </ul> 
                </li>
                <li class="collection-item">
                    <button class="btn-flat explorer-tool__item">
                        <i class="dp-icons left">folder</i>
                        <span>Nastavenia</span>
                    </button>
                    <button class="btn-flat explorer-tool__action">
                        <i class="dp-icons">dots_vertical</i>
                    </button>
                </li>                
            </ul> -->
        </div>
    </div>
</div>