<div class="explorer-tool" data-bind="optiscroll, click: select.bind($component, null)">
    <script type="text/html" id="explorer-tool__item-template">
        <!-- ko foreach: nodes -->
        <li class="collection-item">
            <button class="btn-flat explorer-tool__item" 
                    data-bind="css: { 'explorer-tool__item--active': isActive, 'explorer-tool__item--notoc': !isInToc() }, click: $component.select.bind($component), clickBubble: false, event: { dblclick: $component.expand }">
                <i class="dp-icons left" data-bind="text: $component._icon($data)"></i>
                <span data-bind="text: title"></span>
            </button>
            <!-- ko if: isActive() && $component.tools().length -->
            <button class="btn-flat explorer-tool__action" title="Možnosti" 
                    data-bind="clickBubble: false, dropdown: { target: 'explorer-tool-menu', constrainWidth: false, coverTrigger: false, alignment: 'right', container: '.app' }">
                <i class="dp-icons">dots_vertical</i>
            </button>
            <ul id="explorer-tool-menu" class="dropdown-content explorer-tool-menu" data-bind="foreach: $component.tools">
                <li>
                    <button class="btn-flat explorer-tool-menu__item" 
                        data-bind="css: { 'explorer-tool-menu__item--disabled': !isEnabled }, click: action, clickBubble: false">
                        <i class="dp-icons left" data-bind="text: icon"></i>
                        <span data-bind="text: text"></span>
                    </button>
                </li>
            </ul>
            <!-- /ko -->
        </li>
        <!-- ko if: nodes().length && $data.isExpanded() -->
        <li>
            <ul class="collection explorer-tool__tree" data-bind="template: { name: 'explorer-tool__item-template', data: { nodes: nodes } }">
            </ul>
        </li>
        <!-- /ko -->
        <!-- ko if: isActive -->
        <li class="explorer-tool__float-action">
            <ul class="collection explorer-tool__tree">
                <li class="collection-item">
                    <button class="btn-flat explorer-tool__item explorer-tool__item--floating" title="Pridať položku"
                            data-bind="click: $component.add.bind($component), clickBubble: false">
                        <i class="dp-icons">plus</i>
                    </button>                    
                </li>
            </ul>
        </li>
        <!-- /ko -->        
        <!-- /ko -->
    </script>
    <div class="row">
        <div class="col s12" style="margin:0.5rem 0">
            <ul class="collection explorer-tool__tree">
                <!-- ko template: { if: nodes().length, name: 'explorer-tool__item-template', data: { nodes: nodes } } --><!-- /ko -->
                <!-- ko if: activeNode() === null -->
                <li class="collection-item explorer-tool__float-action">
                    <button class="btn-flat explorer-tool__item explorer-tool__item--floating" title="Pridať položku"
                            data-bind="click: add.bind($component, null), clickBubble: false">
                        <i class="dp-icons">plus</i>
                    </button>
                </li>
                <!-- /ko -->
                <!-- ko if: hasTemplate -->
                <li class="collection-item">
                    <button class="btn-flat explorer-tool__item" data-bind="click: editImages, clickBubble: false, css: { 'explorer-tool__item--active': editor() === 'image' }">
                        <i class="dp-icons left light-green-text text-lighten-1">folder_image</i>
                        <span class="light-green-text text-lighten-1">Obrázky</span>
                    </button>
                </li>                
                <li class="collection-item">
                    <button class="btn-flat explorer-tool__item" data-bind="click: editTemplate, clickBubble: false, css: { 'explorer-tool__item--active': editor() === 'template' }">
                        <i class="dp-icons left orange-text text-lighten-2">xml</i>
                        <span class="orange-text text-lighten-2">Šablóna</span>
                    </button>
                </li>
                <!-- /ko -->
            </ul>            
        </div>
    </div>
</div>