<div class="explorer-tool">
    <div class="row">
        <div class="col s12">
            <ul class="collection explorer-tool__tree">
                <li class="collection-item">
                    <button class="btn-flat explorer-tool__item">
                        <i class="dp-icons left">xml</i>
                        <span>Nastavenia</span>
                    </button>
                </li>
                <li class="collection-item">
                    <button class="btn-flat explorer-tool__item">
                        <i class="dp-icons left">folder</i>
                        <span>Nastavenia</span>
                    </button>
                    <button class="btn-flat explorer-tool__action">
                        <i class="dp-icons">dots_vertical</i>
                    </button>
                </li>                
                <li class="collection-item">Alvin</li>
                <li class="collection-item">Alvin</li>
                <li class="collection-item">Alvin</li>
            </ul>
        </div>
    </div>
</div>