<div class="editor image-editor" data-bind="optiscroll">
    <div class="row">
        <div class="image-editor__item col xl2 l3 m4 s6">
            <div class="image-editor__item-content">
                <div class="image-editor__item-image" style="background-image: url('https://images.pexels.com/photos/459225/pexels-photo-459225.jpeg?auto=compress&cs=tinysrgb&h=350')"></div>
                <div class="image-editor__item-title">
                    Altered.Carbon.S01E06.Man.with.My.Face.720p.NF.WEB-DL.DDP5.1.x264-NTb.mkv_snapshot_40.39_[2018.03.22_13.30.37].jpg
                </div>
            </div>
        </div>
            <div class="image-editor__item col xl2 l3 m4 s6">
            <div class="image-editor__item-content"></div>
            </div>
            <div class="image-editor__item col xl2 l3 m4 s6">
            <div class="image-editor__item-content"></div>
            </div>
            <div class="image-editor__item col xl2 l3 m4 s6">
            <div class="image-editor__item-content"></div>
            </div>
            <div class="image-editor__item col xl2 l3 m4 s6">
            <div class="image-editor__item-content"></div>
            </div>
            <div class="image-editor__item col xl2 l3 m4 s6">
            <div class="image-editor__item-content"></div>
            </div>
            <div class="image-editor__item col xl2 l3 m4 s6">
            <div class="image-editor__item-content"></div>
            </div>
            <div class="image-editor__item col xl2 l3 m4 s6">
            <div class="image-editor__item-content"></div>
            </div>
            <div class="image-editor__item col xl2 l3 m4 s6">
            <div class="image-editor__item-content"></div>
            </div>
            <div class="image-editor__item col xl2 l3 m4 s6">
                    <div class="image-editor__item-content"></div>
                    </div>
                    <div class="image-editor__item col xl2 l3 m4 s6">
                    <div class="image-editor__item-content"></div>
                    </div>
                    <div class="image-editor__item col xl2 l3 m4 s6">
                    <div class="image-editor__item-content"></div>
                    </div>
                    <div class="image-editor__item col xl2 l3 m4 s6">
                    <div class="image-editor__item-content"></div>
                    </div>
                    <div class="image-editor__item col xl2 l3 m4 s6">
                    <div class="image-editor__item-content"></div>
                    </div>
                    <div class="image-editor__item col xl2 l3 m4 s6">
                    <div class="image-editor__item-content"></div>
                    </div>
                    <div class="image-editor__item col xl2 l3 m4 s6">
                    <div class="image-editor__item-content"></div>
                    </div>
                    <div class="image-editor__item col xl2 l3 m4 s6">
                    <div class="image-editor__item-content"></div>
                    </div>
                    <div class="image-editor__item col xl2 l3 m4 s6">
                            <div class="image-editor__item-content"></div>
                            </div>
                            <div class="image-editor__item col xl2 l3 m4 s6">
                            <div class="image-editor__item-content"></div>
                            </div>
                            <div class="image-editor__item col xl2 l3 m4 s6">
                            <div class="image-editor__item-content"></div>
                            </div>
                            <div class="image-editor__item col xl2 l3 m4 s6">
                            <div class="image-editor__item-content"></div>
                            </div>
                            <div class="image-editor__item col xl2 l3 m4 s6">
                            <div class="image-editor__item-content"></div>
                            </div>
                            <div class="image-editor__item col xl2 l3 m4 s6">
                            <div class="image-editor__item-content"></div>
                            </div>
                            <div class="image-editor__item col xl2 l3 m4 s6">
                            <div class="image-editor__item-content"></div>
                            </div>
                            <div class="image-editor__item col xl2 l3 m4 s6">
                            <div class="image-editor__item-content"></div>
                            </div>
    </div>
</div>