<div class="editor image-editor" data-bind="optiscroll">
    <div class="row" data-bind="foreach: items">
        <div class="image-editor__item col xl2 l3 m4 s6" 
             data-bind="css: { 'image-editor__item--active': isActive },
                        click: $component.select.bind($component)">
            <div class="image-editor__item-content">
                <!-- ko if: isActive() && $component.tools().length -->
                <button class="btn-flat image-editor__item-action tooltip tooltip--right" title="Možnosti"
                        data-bind="clickBubble: false, dropdown: { target: 'image-editor-menu', constrainWidth: false, coverTrigger: false, alignment: 'right', container: '.app' }">
                    <i class="dp-icons">dots_vertical</i>
                </button>
                <ul id="image-editor-menu" class="dropdown-content explorer-tool-menu" data-bind="foreach: $component.tools">
                    <li>
                        <button class="btn-flat explorer-tool-menu__item" 
                            data-bind="css: { 'explorer-tool-menu__item--disabled': !isEnabled }, click: action, clickBubble: false">
                            <i class="dp-icons left" data-bind="text: icon"></i>
                            <span data-bind="text: text"></span>
                        </button>
                    </li>
                </ul>                
                <!-- /ko -->
                <div class="image-editor__item-image">
                    <img data-bind="attr: { 'src': url }" />
                </div>                
                <div class="image-editor__item-title" data-bind="text: title"></div>
            </div>
        </div>
    </div>
    <!-- <div class="image-editor__item col xl2 l3 m4 s6">
        <div class="image-editor__item-content">
            <button class="btn-flat image-editor__item-action tooltip tooltip--right" title="Možnosti">
                <i class="dp-icons">dots_vertical</i>
            </button>
            <div class="image-editor__item-image" style="background-image: url('https://images.pexels.com/photos/459225/pexels-photo-459225.jpeg?auto=compress&cs=tinysrgb&h=350')"></div>
            <div class="image-editor__item-title">
                Altered.Carbon.S01E06.Man.with.My.Face.720p.NF.WEB-DL.DDP5.1.x264-NTb.mkv_snapshot_40.39_[2018.03.22_13.30.37].jpg
            </div>
        </div>
    </div> -->
</div>