@import "../../../../less/_mixins.less";

.markdown-editor {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    &__input {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 55%;

        &::after {
            content: "\00a0";
            background: @bg-color-secondary;
            display: block;
            width: .5rem;
            position: absolute;
            top: 0;
            bottom: 0;
            right: -.5rem;
        }
    }

    &__output {
        position: absolute;
        left: calc(45% + .5rem);
        top: 0;
        bottom: 0;
        background: @bg-color-secondary;
        right: 0;
    }
}