@import "../../../../less/_mixins.less";

.markdown-editor {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    &__input {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 45%;
    }

    &__output {
        position: absolute;
        left: 55%;
        top: 0;
        bottom: 0;
        background: lime;
        right: 0;
    }
}