<div class="drive-tool">
    <div class="row">
        <div class="col s12 center">
            <br>
            <!-- ko if: !isConnected() -->
            <button class="btn btn--primary" data-bind="click: connect, css: { 'btn--loading': isConnecting }">
                <i class="dp-icons left">google_drive</i>
                <!-- ko text: isConnecting() ? '... pripájam sa' : 'Pripojiť' --><!-- /ko -->
            </button>            
            <!-- /ko -->
            <!-- ko if: isConnected() -->
            <button class="btn btn--secondary" data-bind="click: disconnect">
                Odhlásiť
            </button>            
            <!-- /ko -->            
        </div>
    </div>
    <!-- ko if: errorMessage() -->
    <div class="row">
        <div class="col s12">
            <p class="red-text" data-bind="text: errorMessage"></p>
        </div>
    </div>
    <!-- /ko -->
</div>